<div class="container">
  <input type="text" name="filter" [(ngModel)]="filterInput" class="filter-input" placeholder="Search Term" aria-label="Filter Input">
  <div *ngFor="let item of pagedItems | filter: filterInput ">
    <div class="card">
      <div class="card-img"></div>
      <h3 class="heading-inline">{{ item.name }}<h5 class="heading-inline"> Results: {{ item.results }}</h5></h3>
      <div class="ellipsis card-body">Violations: {{ item.violations }}</div>
    </div>
  </div>
  <button type="button" name="next" aria-label="Next" [disabled]="cannotGoNext()" (click)="next()">Next</button>
  <button type="button" name="previous" aria-label="Previous" [disabled]="cannotGoPrevious()" (click)="previous()">Previous</button>
</div>