<div class="container">
  <input type="text" name="filter" [(ngModel)]="filterInput" class="filter-input" placeholder="Search Term" aria-label="Filter Input">
  <div *ngFor="let item of pagedItems | filter: filterInput ">
    <div class="card">
      <div class="card-img"></div>
      <h3>{{ item.name }}<span>Results: {{ item.results }}</span></h3>
      <div class="ellipsis card-body">Violations: {{ item.violations }}</div>
    </div>
  </div>
  <button type="button" name="next" [disabled]="cannotGoNext()" (click)="next()">Next</button>
  <button type="button" name="previous" [disabled]="cannotGoPrevious()" (click)="previous()">Previous</button>
</div>