body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  height: 75px;
  width: 35em;
  background: lightgray;
  border: solid 1px;
  border-color: grey;
  border-radius: .2em;
  margin: 25px;
  padding: 0.5em;
}