@import "variables";

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background:$lightgrey;
  border: solid 1px;
  border-color: $darkgrey;
  border-radius: .2em;
  margin: 25px;
  padding: 0.5em;
}

.content {
  margin: 1em 2em;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.heading-inline {
  display: inline;
}

.app-btn {
  background: linear-gradient($lightgrey,$darkgrey);
  border-radius: .2em;
  border-color: $darkestgrey;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 1em;
  width: 8em;
}

.btn-group {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}